<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
	.completed {
		text-decoration: line-through;
		font-style: italic;
		color : red;
		font-weight: bold;
	}
    </style>
  </head>
  <body>
	<h1>Welcome to Task Manager</h1>
	<i>Total Tasks = <%= list.length%></i>
    <hr>
    <ol>
    	<% for(var i=0; i<list.length; i++) {%>
		   <li class="<%= list[i].isCompleted ? 'completed' : ''%>">
		   	<%= list[i].name %> [<%= list[i].id %>]
		   </li>
		<% } %>

    </ol>
  </body>
</html>
