<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    </style>
  </head>
  <body>
	<h1>Welcome to Task Manager</h1>
    <hr>
	<form method="post">
		<label for="txtTask">Task :</label>
		<input type="text" name="taskName" id="txtTask">
		<input type="submit" value="Create">
	</form>
  </body>
</html>
